<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Courses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="https://p9-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/b99c6a624719e389e2b4849ee5c05c0a.jpeg?lk3s=a5d48078&nonce=73011&refresh_token=ca0d2d56e33d79e3db172e7debffe0ef&x-expires=1724320800&x-signature=LA9FfNgnkesVAM9FzO9Dno%2Ffg5o%3D&shp=a5d48078&shcp=b59d6b55" alt="" class="user-avatar">
            User
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/courses/create">Create</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Coursera</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>